
body {
  background-color: #F8ECD1;
  margin: 0;
  text-align: center;
  margin-top: 120px;
  padding-top: 10px;
  font-size: 100%;
}

h1 {
    width: 100%;
    font-size: 5rem;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 2;
}

p {
    font-family: 'Libre Bodoni', serif;
}

h2 {
  color: #66BFBF;
  font-family: 'Source Code Pro', monospace;
  font-size: 50px;
  font-weight: normal;
}

h3 {
    font-family: inherit;
    font-size: 2.8rem;
    color: #247881;
    font-weight: normal;
}

h4 {
  color: #5584AC;
}
span.Pinsk {
 color: #247881;
 font-family:'Water Brush', cursive;
}

span.Maria {
  color:  #66BFBF;
  font-family:'Water Brush', cursive;
}

.studentpic {
  width: 140px;
  border-radius: 50%;
  position: relative;
  top: 10px;
}

 .studentpic:hover {
    background-color: gold;
  }

.profile {
  top: 50px;
}

.studyskills {
  border-radius: 0%;
  width: 100px;
}

.mountain {
  margin-right: 200px;
}

.cloudone {
  position: relative;
  left: 390px;
  top: 50px;
  display: inline-block;
  height: 67px;
  width: 210px;
}

.cloudtwo {
  position: relative;
  right: 50px;
  bottom: 350px;
  height: 67px;
  width: 210px;
}

.story {
  width: 140px;
  float: left;
  margin-right: 30px;
}

.potato {
    width: 140px;
    border-radius: 10%;
    float: right;
    margin-left: 0px;
  }

.potato:hover {
     background-color: gold;
   }

.footer-link {
  color: #11999E;
}

.btn {
background-color: #95D1CC;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px 4px 0px;
cursor: pointer;
border-radius: 50%;

}

button {
  border-color: white;
  border: none;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 3;
}

hr {
  width: 4%;
  border: dotted #EAF6F6 10px;
  border-bottom: none;
  margin-top: 100px;
  margin-bottom: 100px;

}

.top-container {

}

.middle-container {
  font-size: 1.5rem;
  background-color: white;

}

.bottom-container {
font-size: 1.8rem;
background-color: #95D1CC;
padding-bottom: 150px;
padding-top: 150px;
}

.end {
  color: white;
}
